<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/estiloH.css">
</head>
<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">Biblioteca <br>EL Saber y el Sabor</h2>
            </div>

            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a href="/" class="nav__links">Inicio</a>
                </li>
                <li class="nav__items">
                    <a href="libro" class="nav__links">Libros</a>
                </li>
                <li class="nav__items">
                    <a href="prestamo" class="nav__links">Prestamos</a>
                </li>
                <li class="nav__items">
                    <a href="afiliado" class="nav__links">Afiliados</a>
                </li>
                <li class="nav__items">
                    <a href="contacto" class="nav__links">Contacto</a>
                </li>

                <img src="./img/close.svg" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="./img/menu.svg" class="nav__img">
            </div>
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">Bienvenido a la Biblioteca <br>El Saber y el Sabor.</h1>
            <p class="hero__paragraph">El Saber y el Sabor: donde la cultura y la gastronomía se encuentran en un mismo
                lugar.</p>
            <a href="contacto" class="cta">Comienza ahora</a>
        </section>
    </header>

    <main>
        <section class="container about">
            <h2 class="subtitle">¿Qué vamos en encontrar?</h2>
            <p class="about__paragraph">En la biblioteca se pueden encontrar una amplia variedad de recursos y materiales de
                lectura, desde libros de ficción hasta textos académicos y de investigación en diferentes áreas del
                conocimiento. Además, es posible que la biblioteca tenga una sección especializada en gastronomía, donde se
                pueden encontrar libros de cocina, recetas, historias culinarias, entre otros.</p>

            <div class="about__main">
                <article class="about__icons">
                    <img src="./img/shapes.svg" class="about__icon">
                    <h3 class="about__title">Gran Variedad de Ejemplares</h3>
                    <p class="about__paragrah">Nos enorgullece ofrecer una amplia selección de libros para todos los gustos
                        y necesidades seguramente encontrarás algo que te interese.</p>
                </article>

                <article class="about__icons">
                    <img src="./img/paint.svg" class="about__icon">
                    <h3 class="about__title">También hay un espacio para el Arte</h3>
                    <p class="about__paragrah">Podrás disfrutar de obras de distintos artistas y géneros. Desde pinturas y
                        esculturas hasta fotografías y artes gráficas</p>
                </article>

                <article class="about__icons">
                    <img src="./img/code.svg" class="about__icon">
                    <h3 class="about__title">Libros sobre Tecnologia</h3>
                    <p class="about__paragrah">También encontrarás una amplia selección de libros especializados en este
                        tema.Textos introductorios hasta manuales avanzados</p>
                </article>
            </div>
        </section>

        <section class="knowledge">
            <div class="knowledge__container container">
                <div class="knowledege__texts">
                    <h2 class="subtitle">También tenemos una sección de Libros Digitales</h2>
                    <p class="knowledge__paragraph">En nuestra biblioteca, siempre estamos buscando formas innovadoras de
                        mejorar la experiencia de nuestros usuarios. Por eso, hemos creado una sección de libros digitales
                        para que puedan acceder a una amplia variedad de textos desde cualquier dispositivo y en cualquier
                        momento. Ahora, podrás disfrutar de la lectura en línea de tus autores favoritos, explorar nuevas
                        temáticas y descubrir obras exclusivas que solo encontrarás en nuestra plataforma de libros
                        digitales. ¡Visítanos y descubre todo lo que nuestra biblioteca digital tiene para ofrecer!</p>
                    <a href="contacto" class="cta">Visita la Seccion</a>
                </div>

                <figure class="knowledge__picture">
                    <img src="./img/macbook.png" class="knowledge__img">
                </figure>
            </div>
        </section>

        <section class="price container">
            <h2 class="subtitle">Te Ofrecemos un plan para el prestamo de libros</h2>

            <div class="price__table">
                <div class="price__element">
                    <p class="price__name">BASICA</p>
                    <h3 class="price__price">$5/mes</h3>

                    <div class="price__items">
                        <p class="price__features">Prestamo de</p>
                        <p class="price__features">dos libros</p>
                        <p class="price__features">al mes</p>
                    </div>

                    <a href="contacto" class="price__cta">Empieza ahora</a>
                </div>

                <div class="price__element price__element--best">
                    <p class="price__name">PREMIUN</p>
                    <h3 class="price__price">$35/mes</h3>

                    <div class="price__items">
                        <p class="price__features">Uso de libros Digitales</p>
                        <p class="price__features">Prestamo de </p>
                        <p class="price__features">4 libros al mes</p>
                    </div>

                    <a href="contacto" class="price__cta">Empieza ahora</a>
                </div>

                <div class="price__element">
                    <p class="price__name">INTERMEDIA</p>
                    <h3 class="price__price">$15/mes</h3>

                    <div class="price__items">
                        <p class="price__features">Prestamo de </p>
                        <p class="price__features">3 libros</p>
                        <p class="price__features">al Mes</p>
                    </div>

                    <a href="contacto" class="price__cta">Empieza ahora</a>
                </div>
            </div>
        </section>

        <section class="testimony">
            <div class="testimony__container container">
                <img src="./img/leftarrow.svg" class="testimony__arrow" id="before">

                <section class="testimony__body testimony__body--show" data-id="1">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Mi nombre es Daniela Vélez, <span class="testimony__course">Estudiante de Arquitectura
                            .</span></h2>
                        <p class="testimony__review">El Saber y el Sabor ha sido una verdadera bendición para mí! Desde que
                            me inscribí en el plan de préstamo de libros, he podido disfrutar de una amplia variedad de
                            lecturas interesantes y enriquecedoras. Además, su sección de libros digitales me ha permitido
                            acceder a textos exclusivos desde la comodidad de mi hogar.!</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="./img/face.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="2">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Mi nombre es Alejandra Pérez, <span class="testimony__course">estudiante de
                                        Derecho.</span></h2>
                        <p class="testimony__review">¡No puedo creer la cantidad de recursos que ofrece la biblioteca El
                            Saber y el Sabor! Gracias a su plan de préstamo de libros, he podido acceder a textos
                            especializados en mi área de investigación, lo cual ha sido de gran ayuda para mis proyectos
                            académicos.</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="./img/face2.jpg" class="testimony__img">
                    </figure>
                </section>


                <img src="./img/rightarrow.svg" class="testimony__arrow" id="next">
            </div>
        </section>

        <section class="questions container">
            <h2 class="subtitle">Preguntas frecuentes</h2>
            <p class="questions__paragraph"></p>

            <section class="questions__container">
                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Cómo puedo obtener una membresía en la biblioteca El Saber y el Sabor?
                            <span class="questions__arrow">
                                        <img src="./img/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">Es muy fácil, solo tienes que acercarte a nuestra biblioteca y presentar
                            una identificación oficial con fotografía. El costo de la membresía anual es de $50. Una vez que
                            te hayas registrado, podrás acceder a todos los servicios y recursos que ofrecemos.</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Cuántos libros puedo tomar prestados y por cuánto tiempo?
                            <span class="questions__arrow">
                                        <img src="./img/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">Depende del plan que hayas elegido. En nuestra opción básica, puedes
                            tomar prestado un libro por un período de 14 días. En la opción intermedia, puedes tomar
                            prestado dos libros por un período de 21 días. Y en nuestra opción premium, puedes tomar
                            prestado hasta tres libros por un período de 30 días.</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Puedo renovar un libro que he tomado prestado?
                            <span class="questions__arrow">
                                        <img src="./img/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">Sí, es posible renovar un libro si aún no ha expirado el período de
                            préstamo. Puedes hacerlo en línea a través de nuestro sitio web o acercándote a nuestra
                            biblioteca. Sin embargo, si otro usuario ha hecho una reserva para el mismo libro, no será
                            posible renovarlo y deberás devolverlo en la fecha indicada en el préstamo original.</p>
                    </div>
                </article>
            </section>

            <section class="questions__offer">
                <h2 class="subtitle">¿Estas listo para Conocernos?</h2>
                <p class="questions__copy">¡Gracias por visitar la biblioteca El Saber y el Sabor! Esperamos que hayas
                    encontrado todo lo que buscabas y que hayas disfrutado de nuestros servicios y recursos. Nos enorgullece
                    ser una biblioteca que no solo ofrece una amplia variedad de libros y textos especializados, sino que
                    también celebra la cultura gastronómica y la pasión por la lectura. Si tienes algún comentario o
                    sugerencia para mejorar nuestra biblioteca, no dudes en hacérnoslo saber. ¡Esperamos verte pronto de
                    nuevo en nuestras instalaciones!</p>
                <a href="contacto" class="cta">Ven Ahora</a>
            </section>
        </section>
    </main>

    <footer class="footer">
        <section class="footer__container container">
            <nav class="nav nav--footer">
                <h2 class="footer__title">Biblioteca El saber y el sabor.</h2>

                <ul class="nav__link nav__link--footer">
                    <li class="nav__items">
                        <a href="home" class="nav__links">Inicio</a>
                    </li>
                    <li class="nav__items">
                        <a href="libro" class="nav__links">Libros</a>
                    </li>
                    <li class="nav__items">
                        <a href="prestamo" class="nav__links">Prestamos</a>
                    </li>
                    <li class="nav__items">
                        <a href="afialiado" class="nav__links">Afiliados</a>
                    </li>
                    <li class="nav__items">
                        <a href="contacto" class="nav__links">Contacto</a>
                    </li>
                </ul>
            </nav>

            <form class="footer__form" action="https://formspree.io/f/mknkkrkj" method="POST">
                <h2 class="footer__newsletter">Suscribete a la newsletter</h2>
                <div class="footer__inputs">
                    <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                    <input type="submit" value="Registrate" class="footer__submit">
                </div>
            </form>
        </section>

        <section class="footer__copy container">
            <div class="footer__social">
                <a href="#" class="footer__icons"><img src="./img/facebook.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="./img/twitter.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="./img/youtube.svg" class="footer__img"></a>
            </div>

            <h3 class="footer__copyright">Derechos reservados 2023 &copy; SISGO DESING</h3>
        </section>
    </footer>

    <script src="./js/slider.js"></script>
    <script src="./js/questions.js"></script>
    <script src="./js/menu.js"></script>
</body>
</html>